// Imports
@import './colors';

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

// Modules

@mixin upper {
    font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
    text-transform: uppercase;
}

@mixin h1 {
    font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
    font-size: 62px;
    line-height: 125%;
}

@mixin h2 {
    font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
    font-size: 42px;
    line-height: 125%;
    margin: 0;
}

@mixin h3 {
    font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 125%;
    margin: 0;

}

@mixin h4 {
    font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 125%;
    margin: 0;

}


// Text

@mixin text {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-size: 18px;
    color: $gray;
    margin: 0 0 15px;
}

@mixin ordinary_text {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
