@use './fonts' as fonts;
@use './links' as link;
@import './colors';

.article-body {
    padding: 30px;
    margin-bottom: 120px;

    h2 {
        @include fonts.h3;
        margin-bottom: 45px;
        padding: 30px;
        border-radius: 30px;
        background-color: $default_dark;
        color: $bg;
    }

    img {
        border-radius: 30px;
        width: 70vw;
        margin-bottom: 30px;
        height: 40vw;
        object-fit: cover;
        object-position: bottom;
    }

    .text {
        @include fonts.ordinary_text;
        width: 65vw;
        padding-left: 30px;
    }
}


@media (max-width: 876px) {
    .article-body {
        margin-bottom: 90px;

        h2 {
            @include fonts.h4;
            margin-bottom: 30px;
        }

        img {
            width: 100%;
        }

        .text {
            width: 95%;
            padding-left: 15px;
        }
    }
}