@use './fonts' as fonts;
@use './links' as link;
@import './colors';


.menu-links-mobile {
    display: none;
}

.menu-container {
    overflow-x: hidden;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo-container {
        width: 150px;

        img {
            width: 100%;
        }
    }

    .menu-links {
        width: 85%;
        display: flex;
        flex-direction: row;
        
        .menu-item {
            display: flex;
            flex-direction: row;
            margin-left: 30px;
            align-items: center;
            @include link.uppercase;
            

            .circle {
                border: 1px $blue solid;
                border-radius: 50%;
                width: 10px;
                height: 10px;
            }

            a {
                margin-left: 5px;
                
            }

            
        }

        .menu-item:hover {
            @include link.uppercase_hover;
        }

        .menu-item.active-page {
            @include link.uppercase_active;
        }
    }

    .hamburger {
        display: none;
    }
}





@media (max-width: 876px) {
    /* CSS styles for Portrait Tablets */

    body {
        overflow-x: hidden;
    }

    .menu-container {
        display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 30px 30px;

        .menu-links {
            display: none;
        }

        .hamburger {
            display: flex;
        }
    }
    .opened {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: $blue;
        display: flex;
        // transform: translateX(100%);

        .mobile-container {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .hamburger {
                align-self: flex-end;
                width: 5%;
                padding: 30px;
    
            }
    
            .menu-item {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin: 30px;
                padding-left: 30px;
                @include link.uppercase_mobile;
                
    
                .circle {
                    border: 1px $bg solid;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                }
    
                a {
                    margin-left: 5px;
                    
                }
    
                
            }

            .menu-item.active-page {
                @include link.uppercase_mobile_active;
            }
        }

    }
    
} 

