.body {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 120px;
}


@media (max-width: 876px) {
    body {
        margin-bottom: 90px;
    }
}

@media (max-width: 480px) {
    body {
        margin-bottom: 60px;
    }
}


