@use './fonts' as fonts;
@use './links' as link;
@import './colors';


.news-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 60px;
    margin-top: 60px;


    .news-text {
        width: 45%;
        .text-top {
            p {
                @include fonts.text
            }

            h3 {
                @include fonts.upper;
                @include fonts.h3;
                margin-bottom: 45px;
            }
        }

        a {
            @include link.card_link
        }

        a:hover {
            @include link.card_link_hover
        }
    }

    .news-img {
        width: 50%;

        
        img {
            width: 100%;
            height: 25vw;
            object-fit: cover;
            object-position: center;
            border-radius: 30px;
            
        }
    }
}


@media (max-width: 876px) {
    .news-card {
        padding: 0 30px;
        margin-top: 30px;
        .news-text {
            width: 48%;
            .text-top {
                p {
                    font-size: 16px;
                }

                h3 {
                    
                    // font-size: 22px;
                    @include fonts.h4;
                    @include fonts.upper;
                    margin-bottom: 30px;
                }
            }

            a {
                font-size: 16px;
            }
        }

        .news-img {
            width: 50%;

            img {
                width: 100%;
                height: 30vw;
            }
        }
    }
}


@media (max-width: 480px) {
    .news-card {
        flex-direction: column-reverse;
        padding: 0 30px;
        margin-bottom: 30px;
        .news-text {
            width: 90%;
            padding-left: 15px;
            .text-top {
                p {
                    font-size: 16px;
                }

                h3 {
                    font-size: 22px;
                    margin-bottom: 30px;
                }
            }

            a {
                font-size: 16px;
            }
        }

        .news-img {
            width: 100%;
            margin-bottom: 15px;
            img {
                width: 100%;
                height: 45vw;
            }
        }
    }
}