@use './fonts' as fonts;
@use './links' as link;
@import './colors';

.news-container {
    // width: 100%;
    padding: 60px;

    .news-body {
        margin-bottom: 120px;
        .date {
            @include fonts.text
        }

        h2 {
            @include fonts.h2;
            margin-bottom: 45px;
        }

        img {
            border-radius: 30px;
            width: 60vw;
            margin-bottom: 45px;
            height: 40vw;
            object-fit: cover;
            object-position: bottom;
        }

        .text {
            @include fonts.ordinary_text;
            width: 60vw;
            padding-left: 30px;
        }
    }

    .related-news {
        display: grid;
        // flex-direction: row;
        // align-items: flex-start;
        // justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;

        .related-item {
            width: 100%;
            img {
                width: 100%;
                height: 18vw;
                object-fit: cover;
                object-position: bottom;
                border-radius: 30px;
                margin-bottom: 15px;
            }

            h4 {
                @include fonts.h4;
                padding-left: 30px;

                a {
                    text-decoration: none;
                    color: $default_dark;
                }

                a:hover {
                    color: $gray;
                }
            }
        }
    }
}


@media (max-width: 876px) {
    .news-container {
        padding: 30px;

        .news-body {
            margin-bottom: 90px;
            h2 {
                margin-bottom: 30px;
            }

            img {
                width: 100%;
                height: 60vw;
                object-fit: cover;
                object-position: center;
                margin-bottom: 15px;
            }

            .text {
                width: 80vw;
                padding-left: 15px;
            }
        }

        .related-news {
            grid-template-columns: repeat(1, 1fr);

            .related-item {
                margin-bottom: 30px;
                img {
                    height: 50vw;
                }
            }
        }
    }
}